body{
    margin:0;
}

.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "header"
    "main"
}

nav{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgb(236, 236, 236);
    transition: all 1s;
    z-index: 30;
}

.quiz{
    display: grid;
    grid-template-rows: 70px auto 100px 100px;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    grid-template-areas: 
    "dagens dagens"
    "Ask Ask";
}

.dagens{
    grid-area: dagens;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reklam{
    height: 100px;
    width: 90vw;
    background-color: coral;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: -14px 15px 15px -6px rgba(0,0,0,0.47);
    display: flex;
    align-items: center;

}

.bort{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.question{
    grid-area: Ask;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    border: 3px;
    border-color: rgb(165, 165, 165);
    border-style: solid;
    box-shadow: -14px 15px 15px 1px rgba(0,0,0,0.72);

}

.alt{
    margin: 10px;
    border: 3px;
    border-color: rgb(165, 165, 165);
    border-style: solid;
    box-shadow: -14px 15px 15px 1px rgba(0,0,0,0.72);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.korrekt{
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 204, 0);
}

#korrekt p, #fel p{
    padding:70px 30px 100px 30px;
    text-align: center
}

.fel{
    height: 100%;
    width: 100vw;
    background-color: red;
}

.test{
    left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

#reklam p{
    font-size: 20px;
    margin-left: 10px;
}

#alt a{
    margin-left: 20px;
    
}

.header{
    grid-area: header;
    display: grid;
    background-color: rgb(0, 247, 255);
    grid-template-columns: 70px auto auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.egenprofil{
    height: auto;
    padding: 10px 70px 160px 20px;
    background-color: lightcoral;
    gap: 10px;
    display: grid;
    grid-template-rows: 80px auto auto auto auto auto;
    grid-template-columns: 40% auto;
    grid-template-areas: 
    "bild namn"
    "bild lista"
    "info info"
    "about about"
    "search search"
    "fact fact"
}

.edit{
    height: 20px;
    width: 40px;
    position: absolute;
    right: -50px;
    bottom: 0;
    background-color: rgb(216, 216, 216);
    border-radius: 10%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.information{
    grid-area: info;
    background-color: white;
    font-size: 10px;
    padding: 10px;
    position: relative;
}
#lista li:nth-child(2n){
    margin-left: 10px;
}

.funfact{
    grid-area: fact;
    background-color: white;
    font-size: 10px;
    padding: 10px;
    position: relative;

}

.about{
    grid-area: about;
    background-color: white;
    padding: 10px;
    position: relative;

}

.searching{
    grid-area: search;
    background-color: white;
    padding: 10px;
    position: relative;

}

h2, h3{
    margin-left: 10px;
}

.profilbild{
    grid-area: bild;
}
.lista{
    grid-area: lista;
    background-color: white;
    position: relative;
}

.animation{
    width: 30vw;
    height: 40px;
    margin-right: 10px;
}

.moving{
    height: 100%;
    width: 40px;
    background-color: red;
    position: relative;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;  
    animation-timing-function: linear;
}

@keyframes test{
    0%   {background-color:white; left:0px; top:0px;}
    50%  {background-color:black; left:65%; top:0;}
    100% {background-color:white; left:0px; top:0px;}
}

p{
    margin: 0 auto 0 auto;
    font-size: 200%;
}

.home{
    display: grid;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.square{
    height: 80vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
}

.box{
    grid-area: box1 box2 box3;
    background-color: red;
    margin:15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#square .material-icons{
    color: white;
    font-size: 15vw;
}

#menu, #bort{
    font-size: 40px !important;
    margin-left: 10px;
}

.box:hover{
    margin: 0;
    transition: 1s;
}

.like{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profil{
    transition: all 3s;
    height: 70vh;
    width: 40vh;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: auto;
    border-width: 3px;
    border-style: dotted;
    border-color: black;
}

.info{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    position: absolute;
    bottom: 60px;
}

.choose{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.frame{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thirdp{ 
    background-image: url(../img/Profil3M.jpg);
    z-index: 2;
}

#firstp{
    z-index: 10;
    background-image: url(../img/Profil1M.jpg)
}

#secondp{
    z-index: 4;
    background-image: url(../img/Profil2M.jpg)
}
.placering{
    left: -100vw;
}

.red{
    height: 100%;
    width: 100%
}

.redfilter{
    background-color: rgb(255, 0, 0);
    opacity: 0.7;
}
.green{
    height: 100%;
    width: 100%
}

a:active{
    animation-delay: 5s;
}

.greenfilter{
    background-color: rgb(123, 255, 0);
    opacity: 0.7;
}

h1{
    margin: 5px 0 5px 10px;
}

#like p{
    font-size: 10px;
    margin: 0 10px 0 10px;
}

i:hover{
    cursor: pointer;
}

@media only screen and (min-device-width:1224px){
    #firstp{
        background-image: url(../img/Profil1D.jpg)
    }

    #secondp{
        background-image: url(../img/Profil2D.jpg)
    }

    #thirdp{
        background-image: url(../img/Profil3D.jpg)
    }

    .egenprofil{
        padding: 10px 170px 170px 120px;
    }

    .reklam{
        width: 50vw;
    }

}