<div class="home">
    <div class="square" id="square">
        <div class="box" id="box"><a href="profil.html"><i class="material-icons" class="icon">perm_identity</i></a></div>
        <div class="box" id="box"><a href="like.html"><i class="material-icons" class="icon">thumbs_up_down</i></a></div>
        <div class="box" id="box"><a href="sms.html"><i class="material-icons" class="icon">sms</i></a></div>
        <div class="box" id="box"><a href="test.html"><i class="material-icons" class="icon">school</i></a></div>
    </div>
</div>