<div class="home">
    <div class="square" id="square">
        <div class="box"><i class="material-icons" class="icon">perm_identity</i></div>
        <div class="box"><div class="box"><i class="material-icons" class="icon">thumbs_up_down</i></div></div>
        <div class="box"><div class="box"><i class="material-icons" class="icon">sms</i></div></div>
        <div class="box"><div class="box"><i class="material-icons" class="icon">school</i></div></div>
    </div>
</div>