<div class="home">
    <div class="square" id="square">
        <div class="box" id="box"><a href="profil.html"><i class="material-icons" class="icon">perm_identity</i></a></div>
        <div class="box" id="box"><a href="like.html"><i class="material-icons" class="icon">thumbs_up_down</i></a></div>
        <div class="box" id="box"><a href="sms.html"><i class="material-icons" class="icon">sms</i></a></div>
        <div class="box" id="box"><a href="test.html"><i class="material-icons" class="icon">school</i></a></div>
    </div>
</div>
<div class="reklam" id="reklam">
    <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
    <div class="bort"  onclick="bort()" >X</div>
</div>
