<div class="korrekt" id="korrekt">
    <p><b> Grattis!</b> <br><i>Du svarade rätt och har fått +5 IQ att imponera med. <br>Kom tillbaka imorgon för chansen att vinna mer.</i></p>
</div>

<div class="reklam" id="reklam">
    <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
    <div class="bort" onclick="bort()">X</div>
</div>