<div class="like">
    <div class="profil"><div class="info">Hello my name is LISJ</div><div class="choose"></div></div>
    <div class="profil"><div class="info">Hello my name is LISJ</div><div class="choose"></div></div>
    <div class="profil"><div class="info">Hello my name is LISJ</div><div class="choose"></div></div>
</div>