<div class="egenprofil">
    <div class="profilbild"></div>
    <div class="namn"><h2>Fia Svensson</h2> </div>
    <div class="lista" id="lista"> <h3>Kategorier:</h3>
        <ul>
            <li><a href="#info"> Information</a></li>
            <li><a href="#about">Om mig själv</a> </li>
            <li><a href="#searching"> Vad jag söker</a></li>
            <li><a href="#funfact">Fun fact</a> </li>
        </ul>
        <div class="edit"><p>Edit</p></div>
    </div>
    <section id="info">
        <p><b>IQ:</b> 110 <br><b>Ålder</b>: 27 <br><b>Bor:</b> Göteborg <br><b>Husdjur:</b> Inga <br><b>Längd:</b> 167 cm</p>
        <div class="edit"><p>Edit</p></div>
    </section>
    <article>
        <p> <h3>Om mig själv</h3>Jag arbetar som barista och de flesta skulle beskriva mig som en väldigt social person. <br> Jag är stolt feminist, älskar sushi och har som plan att resa för att hitta mig själv och få perspektiv på världen. <br> Standard frukost: avokado på macka och en cappuccino. Jag börjar alltid min morgon med en simtur för att kick-starta dagen på ett bra sätt. Jag lagar ofta mat till familjen och jag anser starkt att åldern bara är en siffra, känslorna går före. <br><i> "It is not in the stars to hold our destiny but in ourselves." - Shakespeare</i></p>
        <div class="edit"><p>Edit</p></div>
    </article>
    <div class="searching" id="searching">
        <p> <h3>Vad jag söker</h3>Jag söker någon som vill resa och utforska världen med mig. <br> Helst ett IQ på högre än genomsnitt för att kunna utmana och hjälpa varandra intellektuellt. <br>Det är ett stort plus om du spelat något intrument då jag finner att dessa människor 90% av fallen är oerhört smarta. Du skall även ha förmågan att kasta saker som jag då kan hämta igen. Vissa kallar detta apport men vi tycker att detta namn på aktiviteten är nedlåtande och uppskattar om du håller dig borta från det. Tiden då människorna bestämde är över och ord som dessa har numera bara en stark koppling till dåtiden.</p>
        <div class="edit"><p>Edit</p></div>
    </div>
    <div class="funfact" id="funfact">
        <p>Jag kan alla <i>Fortnite</i> danserna utantill. </p><br> <img id="bild" src="img/FortniteM.jpg" alt="">
        <div class="edit"><p>Edit</p></div>
    </div>
</div>
<div class="reklam" id="reklam">
    <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
    <div class="bort" onclick="bort()">X</div>
</div>
