<div class="sms">
    <div class="reklamhigh">
        <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
        <div class="bort">X</div>
    </div>
    <div class="meddelande">
        <div class="titel">
            <p> Meddelande</p>
        </div>
        <div class="notis">
            <div class="plupp" id="aktiv"></div>
        </div>
        <div class="match"">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp" id="aktiv"></div>
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp"></div>
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp" id="aktiv"></div> 
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp"></div> 
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp"></div> 
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
        <div class="notis">
            <div class="plupp"></div> 
        </div>
        <div class="match">
            <div class="bilder" id="bilder">
                <i class="material-icons" class="icon">person</i>
            </div>
            <div class="hej">
                <p>Hej! Mitt namn är BlaBla. Jag ...</p>
            </div> 
        </div>
    </div>
    <div class="reklamhigh">
        <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
        <div class="bort">X</div>
    </div>
</div>