<div class="quiz">
    <div class="dagens"><p>Dagens IQ-fråga (+5):</p></div>
    <div class="question"><p> <b> 6 ÷ 2(1+2) =</b></p></div>
    <div class="alt" id="alt">
        <a href="korrekt.html" style="display:block;height:100%;width:100%"><p>a) 9</p></a>
    </div>
    <div class="alt" id="alt">
        <a href="fel.html" style="display:block;height:100%;width:100%"><p>b) 5</p></a>
    </div>
    <div class="alt" id="alt">
        <a href="fel.html" style="display:block;height:100%;width:100%"><p>c) 1,5</p></a>
    </div>
    <div class="alt" id="alt">
        <a href="fel.html" style="display:block;height:100%;width:100%"><p>d) 1</p></a>
    </div>
</div>
<div class="reklam" id="reklam">
    <p><i> Experterna hatar denna. Nu endast <b>399kr!</b> <br>Erbjudanted gäller i <u>59 minuter</u>  till. <br>Köp <b>NU</b> innan de tar slut!</i></p>
    <div class="bort"  onclick="bort()" >X</div>
</div>
